.list {
	list-style-type: none;
	margin: 1rem 0;
	padding: 0;
}

.checked {
	background-color: transparent;
	color: transparent;
	border-radius: 50%;
	border: 1px solid black;
	cursor: pointer;
	margin-right: 1rem;
}

.item {
	padding: 0.5rem 2rem;
}
