.form {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
}

.form input {
	width: 75%;
	padding: 0.3rem 0.5rem;
	border-radius: 5px;
	border: 1px solid rgb(107, 107, 107);
	font-size: 1.15rem;
}

.form input:focus {
	outline: none;
	border-color: #4f005f;
}
